@import "tailwindcss";

@theme {
  --color-primary: #166534;
  --color-accent: #f59e0b;
}

body {
  background-color: #f9fafb;
  color: #111827;
  font-family: ui-sans-serif, system-ui, sans-serif;
}
